body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.col-header-id {
    width: 150px;
    text-align: center;
}

td.col-id {
    text-align: center;
}

td.col-nome {
    text-align: center;
}

.col-data {
    text-align: center;
}

.col-numero {
    text-align: center;
}